@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/images/zeldabg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; 
  width: 100vw;
  height: 100vw;
}